<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{administrativo/fragments/layout}">
<head>
<meta charset="UTF-8">
<title>Molina Store</title>
</head>
<body>
	<div class="content" layout:fragment="corpo">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Cadastro de Usuários para testes do
								sistema verificar espaço.</h4>
						</div>
					</div>
				</div>
			</div>
	</div>
</body>
</html>
