<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{administrativo/fragments/layout}">
<head>
<meta charset="UTF-8">
<title>Molina Store</title>
</head>
<body>
	<div class="content" layout:fragment="corpo">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Cadastro de Estados</h4>
					</div>
					<form class="form-horizontal form-label-left"
						action="/administrativo/estados/salvarEstado" method="POST"
						th:object="${estado}" novalidate>
						<input type="hidden" class="form-control input-sm" id="id"
							th:field="*{id}" readOnly="readonly" />
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12"
								for="name">Nome: <span class="required">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input th:field="*{nome}" id="name"
									class="form-control col-md-7 col-xs-12"
									data-validate-length-range="3" data-validate-words="1"
									name="name" required="required" type="text">
							</div>
						</div>
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12"
								for="sigla">Sigla: <span class="required">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input th:field="*{sigla}" type="text" id="sigla" name="sigla"
									required="required" class="form-control col-md-7 col-xs-12">
							</div>
						</div>
						<div class="ln_solid"></div>
						<div class="form-group">
							<div class="col-md-6 col-md-offset-3">
								<button id="send" type="submit" class="btn btn-success">Salvar</button>
								<button type="submit" class="btn btn-primary">Cancelar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
